Python
pycache/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
lib/
lib64/
Python.h
.pytest_cache/
.tox/
.coverage
.cache/
nosetests.xml
coverage.xml
htmlcov/
.nox/
.eggs/
*.egg-info/
dist/
build/
*.whl

Specific to this project
.env
transcript.txt
categorized_tasks.json
output.json
sample.wav